{% extends 'menu/home.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block menuup %}
<div class="register" id="addmenu">
    <form method="POST" enctype="multipart/form-data">
        <h1>UPDATE YOUR PROFILE</h1>
        {% csrf_token %}
        {{addform| crispy}}
        <div class="submitButton">
            <button type="submit" value="signup">ADD</button>
        </div>
    </form>

    <p id="notify">Your profile is only seen by you and hidden from other users!</p>
</div>

<div class="addeditems">
    {% for food in food %}
    {% if food.restaurant.restaurant_name == user.restaurant.restaurant_name %}
    <div class="profile">
        <div class="details">
            <h3>FOOD: <a href="#">{{food.food_name}}</a></h3>
            <h3>INGREDIENTS: <a href="#">{{food.food_ingridients}}</a></h3>
            <h3>PRICE: <a href="#">{{food.food_price}}</a></h3>
        </div>
    </div>
    {% endif %}
    {% endfor %}
    
</div>
{% endblock menuup %}