{% extends 'menu/home.html' %}

{% block menu %}
    <div class="wrap">
        <div class="wrap1">
            {% for x in user %}
            <div class="wrap2">
                {% if x.restaurant.restaurant_name == '' %}
                {% else %}
                <div class="resttitle" id="{{x.restaurant.restaurant_name}}">
                    <h1>{{x.restaurant.restaurant_name}}</h1>
                    <h3><a href="#">{{x.restaurant.phone_number}}</a></h3>
                </div>
                {% endif %}
                    {% for y in food %}
                        {% if x.restaurant.restaurant_name == y.restaurant.restaurant_name %}
                                <div class="profile" id="menudisplay">
                                    <div class="details" id="detailsmenu">
                                        <h1><a href="#">{{y.food_name}}</a></h1 >
                                        <h3><a href="#">{{y.food_ingridients}}</a></h3>
                                        <h4><a href="#">{{y.food_price}}</a></h4>
                                    </div>
                                </div>
                        {% endif %}
                    {% endfor %}
                </div>
            {% endfor %}
        </div>


        <div class="restmenu">
            <h4>RESTAURANTS</h4>
            {% for z in user %}
            {% if z.restaurant.restaurant_name == '' %}
            {% else %}
                <div class="clickers">
                    <a href="#{{z.restaurant.restaurant_name}}">{{z.restaurant.restaurant_name}}</a>
                </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>

{% endblock menu %}