{% extends 'menu/home.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block profile %}
<div class="profile">
    <div class="details">
        <h1>{{user.username}}'s <a href="">PROFILE</a></h1>
        <hr>
        <h3>Username: <a href="#">@{{user.username}}</a></h3>
        <h3>Phone Number: <a href="#">{{user.profile.phone_number}}</a></h3>
        <h3>Address: <a href="#">{{user.profile.address}}</a></h3>
        <h3><a href="#">Restaurant Details</a></h3>
        <h3>{{user.restaurant.restaurant_name}}</h3>
        <h3>{{user.restaurant.phone_number}}</h3>
    </div>
    <div class="logoutButton">
        <a href="{% url 'home' %}">LOGOUT</a>
    </div>
</div>

<div class="options">
    <a href="#" id="updateBtn">UPDATE PROFILE</a>
    <a href="#" id="addrestaurant">RESTAURANT</a>
</div>


<div class="register" id="registerForm">
    <form method="POST" enctype="multipart/form-data">
        <h1>UPDATE YOUR PROFILE</h1>
        {% csrf_token %}
        {{userUpdate| crispy}}
        {{addContact| crispy}}
        <div class="submitButton">
            <button type="submit" value="signup">UPDATE</button>
        </div>
    </form>

    <p id="notify">Your profile is only seen by you and hidden from other users!</p>
</div>

<div class="register" id="restaurant">
    <form method="POST" enctype="multipart/form-data">
        <h1>ADD YOUR RESTAURANT</h1>
        {% csrf_token %}
        {{restaurant| crispy}}
        <div class="submitButton">
            <button type="submit" value="signup" id="up">UPDATE</button>
            <a id = "gotomenu" href="{% url 'menuup' %}">GO TO MENU</a>
        </div>
    </form>

    <p id="notify">Your profile is only seen by you and hidden from other users!</p>
</div>

{% endblock profile %}