{% extends 'main/home.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block login %}
<link rel="stylesheet" href="{% static "main/changes.css" %}">
<div class="login" id="loginForm">
    <form method="POST">
        <h1>SIGN IN</h1>
        {% csrf_token %}
        {{form|crispy}}
        <div class="submitButton">
            <button type="submit" value="signin">SIGN IN</button>
        </div>
        <div class="redirect">
            <p>IF YOU DON'T HAVE AN ACCOUNT <a href="{% url 'register' %}"> SIGN UP</a></p>
        </div>

        <div class="loginToARestaurant">
            <a href="#">SIGN IN TO YOUR RESTAURANT</a>
        </div>
    </form>
</div>
{% endblock login %}

